*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "Neris";
  src: url("./assets/fonts/Neris-SemiBold.otf") format("OpenType");
  font-weight: 600;
}

@font-face {
  font-family: "Neris";
  src: url("./assets/fonts/Neris-Light.otf") format("OpenType");
  font-weight: 300;
}


@font-face {
  font-family: "Satoshi Variable";
  src: url("./assets/fonts/Satoshi-Medium.otf") format("OpenType");
  font-weight: 500;
}


@font-face {
  font-family: "Satoshi Variable";
  src: url("./assets/fonts/Satoshi-Regular.otf") format("OpenType");
  font-weight: 400;
}
